body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f3f4f6;
    text-align: center;
}

header {
    background: #ff9f00;
    color: white;
    text-align: center;
    padding: 15px;
}