body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f3f4f6;
    text-align: center;
}

header {
    background: #ff9f00;
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    max-width: min(100% - 100px, 1080px);
    margin: 25px auto;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.price-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 20px;
}

.price-box {
    font-size: 22px;
    color: #000000;
}

/* BITCOIN */
/* BITCOIN */
/* BITCOIN */

#btcprice, #btcchange {
    font-size: 24px;
    margin-top: 20px;
}

#btcprice {
    color: #000000;
}

#btcchange {
    font-size: 18px;
}

#btctimer {
    color: #ff9f00;
}

#btcrefresh-button {
    background-color: #ff9f00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#btcrefresh-button:hover {
    background-color: #e88d00;
}

#btcrefresh-button:active {
    background-color: #d77a00;
}

#btcrefresh-button:disabled {
    background-color: #d3d3d3;
    color: #a1a1a1;
    cursor: not-allowed;
}

/* ETHEREUM */
/* ETHEREUM */
/* ETHEREUM */

#ethprice, #ethchange {
    font-size: 24px;
    margin-top: 20px;
}

#ethprice {
    color: #000000;
}

#ethchange {
    font-size: 18px;
}

#ethtimer {
    color: #ff9f00;
}

#ethrefresh-button {
    background-color: #ff9f00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#ethrefresh-button:hover {
    background-color: #e88d00;
}

#ethrefresh-button:active {
    background-color: #d77a00;
}

#ethrefresh-button:disabled {
    background-color: #d3d3d3;
    color: #a1a1a1;
    cursor: not-allowed;
}